[submodule "3rdparty/QHotkey"]
	path = 3rdparty/QHotkey
	url = https://github.com/Skycoder42/QHotkey
[submodule "3rdparty/yaml-cpp"]
	path = 3rdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "3rdparty/resvg"]
	path = 3rdparty/resvg
	url = https://github.com/RazrFalcon/resvg
[submodule "3rdparty/pugixml"]
	path = 3rdparty/pugixml
	url = https://github.com/zeux/pugixml
