QWidget {
  background-color: #303030;
}

QPushButton {
    background-color: #202020;
    border: none;
}

QPushButton:hover {
    background-color: #101010;
}


HiddenButton {
    background-color: #333333;
}
